Требования по тестированию

1. Игрок должен мочь выбрать сложность.
2. В зависимости от сложности должно увеличиваться:
	2.1. Кол-во получаемых очков.
	2.2. Кол-во свойств.
3. Игрок должен мочь сам изменить кол-во свойств.
4. Игрок должен иметь 2 руки:
	4.1. Первая рука работает с индексом.
	4.2. Вторая рука должна брать игрушку из хранилища игрушек.
5. Игрок - массив игрушек.
6. Сама игра проходит в игровой сцене
7. В посторителе сцен задаётся сложность и редактируется кол-во свойств.
8. Инструмент для сравнения игрушек и отверстий - мост.